# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/

title: Ian's blog
description: I like data, economics and Linux (in no particular order) so this will probably be about that stuff
github_username: ianepreston

# Email and twitter are optional:
email: 
twitter_username: iPrestonBC

# OPTIONAL: override baseurl and url if using a custom domain
#url:  the base hostname & protocol for your site, e.g. http://example.com
# baseurl: "/ianepreston" # the subpath of your site, e.g. /blog

# Set this to true to get LaTeX math equation support
use_math: true 


# Everything below here can be ignored, unless you want to change the theme entirely
theme: minima
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-octicons
  - jekyll-github-metadata

titles_from_headings:
  enabled:     true
  strip_title: true
  collections: true

highlighter: rouge
markdown: kramdown
kramdown:
  math_engine: katex
  input: GFM
  auto_ids: true
  hard_wrap: false
  syntax_highlighter: rouge
